
<h1>Home page !!</h1>
<%= link_to "Send Post Request", url_for(controller: 'dashboards',action: 'index', post_req_to_opta_stats: true), remote: true  %> | <%= link_to "Back", url_for(controller: 'dashboards',action: 'index'), remote: true  %>
<h3><%= @success_msg ? @success_msg : MSG %></h3>